.place__card {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 80px;
    margin: 0;
  }
  @media (max-width: 1023px) {
    .place__card {
      gap: 73px;
    }
  
  }
  @media (max-width: 767px) {
    .place__card {
      gap: 50px;
    } 
  }