.place__text {
  display:flex;
  flex-direction: column;
  align-self: flex-start;
  margin: 0;
  gap: 26px;
  max-width: 484px;
}

@media (max-width: 751px) {
  .place__text {
    padding: 0 16px;
  }
}